# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Conda / Env
env/
venv/
.venv/

# OS
.DS_Store

# VS Code
.vscode/

# Bulldozer dataset
Structured-data-projects/bulldozer-price-prediction-project-2/dataset/
Unstructured-data-projects/dog-vision-project-3/dataset/
